@media only screen and (min-width: 360px) and (max-width: 900px) {
    .footer {
        margin: 1.5em 0% 0 0% !important;
        padding: .8em 2.2em !important;
        font-size: 14px !important;

        flex-direction: column !important;
        justify-content: space-between;
    }

    .footer-nav-right {
        flex-direction: row !important;
    }

    .footer-nav-right .nav-item {
        margin-right: 6px !important;
    }

    .footer-nav-responsive {
        display: flex !important;
        flex-direction: column;
    }

    .footer-nav-right .nav-list {
        display: inline-flex !important;
        margin-right: 20px !important;
    }

    .footer-nav-responsive .nav-list .nav-item {
        min-width: 150px;
        max-width: 100%;
        margin-right: 20px !important;
    }

    .footer-nav-left {
        display: none !important;
    }
}

.footer {
    margin: 5em 0 0 0;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em 4.8em;
}

.footer-nav-left {
    display: flex;
}

.footer-item-icon .icon {
    height: 30px;
    width: 30px;
}

.footer-nav-right .nav-item {
    margin-right: 20px;
}


.footer-nav-responsive {
    display: none;
}