@media only screen and (min-width: 360px) and (max-width: 900px) {
    .header {
        background-color: var(--color-white);
        margin: 0 0 1.5em 0 !important;
        padding: .4em 1em;
    }

    .header-nav-left {
        display: none !important;
    }
    .header-nav-responsive {
        display: block !important;
    }

    .nav-item-logo {
        width: 3em !important;
        height: 3em !important;
    }
    .header .nav-item {
        margin-right: 20px !important;
    }
    .responsive-menu {
        display: block !important;
        position: relative;
        text-align: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    .responsive-menu .icon {
        height: 30px;
        width: 30px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2em 5% 0 5%;
}

.header-nav-left, .header-nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-menu {
    display: none;
}
.header-nav-responsive {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-right: 40px;
}

.nav-item-link {
    line-height: 50px;
}

.nav-item-logo {
    width: 4em;
    height: 4em;
}

.header-notification {
    position: relative;
    text-align: center;
    border-radius: 50%;
    
    background-color: var(--color-secondary);
    height: 40px;
    width: 40px;
}

.header-notification .icon {
    height: 20px;
    width: 20px;
}

.unread-notification {
    border: 1px solid var(--color-white);
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    background-color: var(--color-blue-01);
    color: var(--color-white);
    border-radius: 50%;
}
