.introduction {
    margin: 5em 5% 0 5%;
    display: grid;
    grid-template-columns: 45% 20% 35%;
    max-width: 100%;
    position: relative;
}

.introduction-text {
    margin-bottom: 10px; 
}

.introduction-background {
    position: absolute;
    left: -140px;
    height: 800px;
    width: 100vw;
    background-image: url(../images/introduction-bg-full.png);
    background-repeat: no-repeat;
    background-position: center;
}