@media only screen and (min-width: 360px) and (max-width: 900px) {
    .introduction {
        margin: 5em 0 0 0 !important;
        grid-template-columns: 100% !important;
        overflow: hidden !important;
    }

    .introduction-background {
        display: none;
        overflow: hidden !important;
    }

    .introduction-background-responsive {
        display: unset !important;
        height: 50vh;
        width: 120vw;
        margin-left: -5em;
        background-image: url(../images/introduction-bg-full.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .introduction-left, .introduction-right {
        margin: 0 5% 0 5% !important;
    }

    .heading-2 {
        font-size: 24px !important;
        line-height: 36px !important;
    }
}

.introduction {
    margin: 5em 5% 0 5%;
    display: grid;
    grid-template-columns: 45% 20% 35%;
    max-width: 100%;
    position: relative;
}

.introduction-text {
    margin-bottom: 10px; 
}

.introduction-background-responsive {
    display: none;
}
.introduction-background {
    position: absolute;
    left: -140px;
    height: 800px;
    width: 100vw;
    background-image: url(../images/introduction-bg-full.png);
    background-repeat: no-repeat;
    background-position: center;
}