@media only screen and (min-width: 360px) and (max-width: 900px) {
    .new-product {
        flex-direction: column-reverse !important;
        margin: 2em 0 0 0 !important;
        width: 100% !important;
    }

    .new-product-right {
        max-width: 312px !important;
        min-width: 342px !important;
        min-height: 342px !important;
        max-height: 312px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 32px;
    }

    .new-product-elipse, .new-product-intersect {
        height: 295px !important;
        width: 295px !important;
    }
    .new-product-intersect {
        right: -10px !important;
        bottom: 20px !important;
    }

    .new-product-left {
        padding: 0 5%;
    }

    .new-product-desc {
        min-width: 0 !important;
        padding: 16px !important;
    }

    .new-product-explore {
        padding: 8px 24px !important;
        width: 100%;
    }
}

.new-product {
    margin: 30em 10% 0 10%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 75%;
}

.new-product-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.new-product-right {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    max-width: 650px;
    min-width: 500px;
    min-height: 500px;
    max-height: 650px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50%;
}

.new-product-img {
    position: absolute;
    width: 100%;
}

.new-product-model {
    position: relative;
    z-index: 3;
    width: 220px;
}

.new-product-elipse, .new-product-intersect {
    height: 400px;
    width: 400px;
}

.new-product-elipse {
    z-index: 1;
    opacity: 80%;
    bottom: 0;
}

.new-product-intersect {
    z-index: 0;
    bottom: 25px;
    right: 25px;
}

.new-product-desc {
    position: relative;
    margin-top: 2em;
    background-color: var(--color-white);
    padding: 32px;
    min-width: 500px;
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
}

.new-product-desc-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.new-product-desc-text {
    margin-left: 10px;
}

.new-product-explore {
    background-color: var(--color-secondary);
    padding: 8px 24px;
    border-radius: 12px;
    cursor: pointer;
}

.new-product-tape {
    position: absolute;
    left: -50px;
    top: 20px;
    height: 27px;
    width: 126px;
    background-color: #FCD4D4;
    opacity: .7;
    transform: rotate(-44deg);
}