@media only screen and (max-width: 360px) {
    .products-card {
        width: 150px !important;
        height: 150px !important;
        margin-right: 6px !important;
    }

    .products-card-img {
        height: 150px !important;
        width: 150px !important;
    }
}

.products {
    margin: 2.5em 0 0 0;
    overflow: hidden;
}

.products-slider {
    display: flex;
    flex-direction: row;
    width: 150%;
}

.products-card {
    background-color: var(--color-white);
    border-radius: 16px;
    margin-right: 16px;
    padding: 8px;
    width: 12em;
    height: 12em;
}

.products-card-img { height: 100%; }