.heading {
    font-family: SVN-Product Sans;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
}

.heading-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.heading-3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
}

.heading-4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 50px;
}

.text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-dark);
}

.nav-item-text {
    font-weight: 600;
}

.new-product-heading {
    font-weight: 600;
}

.icon {
    height: 19px;
    width: 24px;
}

.new-product-explore {
    font-weight: 600;
}

.product-slider-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: var(--color-dark);   
}

.product-slider-price {
    color: var(--color-blue);
    font-weight: 900;
}

.footer-item-left-text {
    font-size: 14px;
}
.footer-item-right-text {
    font-size: 12px;
}